<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login-style-a.css}"/>
</head>
<body>
<main class="card" role="main" aria-labelledby="signin-title">
<h1>Administration</h1>
    <div class="brand">
        <div class="logo" aria-hidden>
            A
        </div>
        <div>
            <h1 id="signin-title">Welcome back</h1>
            <p class="lead">These are under your control</p>
        </div>
    </div>










    <a th:href="@{/users}" class="btn">Go to user list</a>

        <div class="divider" aria-hidden></div>
    <a th:href="@{/items/}" class="btn">Go to item list</a>

    <a th:href="@{/add-task/}" class="btn">add-task</a>
    <a th:href="@{/tasks/}" class="btn">list - task</a>




</main>
</body>

</html>
