<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name='description' content=''>
    <meta name='keywords' content='spolek'>
    <meta name='author' content='Ludek Krula'>
    <meta name='robots' content='all'>
    <meta charset="UTF-8">
    <!-- <meta http-equiv='X-UA-Compatible' content='IE=edge'> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>KPPRO-Ai2k-LK</title>
</head>

<body>

<!-- ✅ Header fragment -->
<div th:replace="fragments/header :: header"></div>
<div class="page">
    <header>
        <h1>Items overview</h1>
        <p class="subtitle">List of all users</p>
    </header>


    <main>
        <input type="text" id="searchbox" placeholder="Search by title">
        <div class="table-wrap">
            <table class="nice-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Role</th>
                </tr>
                </thead>
                <tbody id="userList">
                <tr th:each="item, iterStat : ${list}"
                    th:attr="onclick=|window.location.href='/items/detail/' + ${item.id}|"
                    style="cursor:pointer">
                    <td th:text="${iterStat.count}">1</td>
                    <td th:text="${item.title}">Title</td>
                    <td th:text="${item.description}">Description</td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
    <ul>
        <li th:each="item : ${list}">
            <a th:text="${item.title}" th:href="@{/items/detail/{id}(id=${item.id})}"></a>
        </li>


    </ul>
    <a th:href="@{add}" class="btn">Add item</a>
    <div class="list">
        <div class="warn-table-wrap">
        <a th:href="@{map}" class="btn">mapa</a>
        <a th:href="@{arch}" class="btn">mapa2</a>
    </div>
    </div>


    <ul id="itemListName">
        <li th:each="item : ${list}" th:text="${item.title}"></li>
    </ul>
    <footer>
        <small>Luděk Krůla - Ai2k</small>
    </footer>
    <script>
        document.getElementById('searchbox').addEventListener('keyup', function () {
            let filter = this.value.toLowerCase();
            document.querySelectorAll('#itemList tr').forEach(li => {
                li.style.display = li.textContent.toLowerCase().includes(filter) ? '' : 'none';
            });
        });
    </script>
</div>
</body>
</html>