<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${task.name}">Task Detail</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="page">
    <main>

        <!-- Title + subtitle -->
        <div class="list">
            <div class="card">
                <h1 th:text="${task.name}">Task Name</h1>
                <p class="subtitle" th:text="${task.description}">Task description</p>
            </div>
        </div>

        <!-- Details card -->
        <div class="list warn-table-wrap">
            <div class="warn-card">

                <h2>Task Details</h2>

                <p>
                    <strong>Task ID:</strong>
                    <span th:text="${task.id}"></span>
                </p>


                <div class="editor">
                    <strong>Description:</strong><br>
                    <p th:text="${task.description}">
                    </p>
                </div>
                <p>
                    <strong>Estimated Time:</strong><br>
                    <span th:text="${task.estimatedDays}"></span> days,
                    <span th:text="${task.estimatedHours}"></span> hours
                </p>

                <p>
                    <strong>Responsible:</strong>
                    <span th:text="${task.assignedTo.name}"></span>
                </p>

                <p>
                    <strong>Status:</strong></p>
                <p>Status: <span th:text="${task.completed} ? 'Done &#9989;' : 'Not done &#10060;'"></span>
                <div th:if="${!task.completed}">
                    <form th:action="@{/programs/{pid}/tasks/{tid}/complete(pid=${task.program.id}, tid=${task.id})}"
                          method="post">
                        <button type="submit" class="btn warn-btn">Mark as Complete</button>
                    </form>
                </div></p>
                <a th:href="@{/programs/{pid}(pid=${task.program.id})}" class="btn">Program</a>



            </div>
        </div>

    </main>
</div>

</body>
</html>
