<div th:fragment="requestsTable(requests)">
    <div class="table-wrap">
        <table class="nice-table">
            <thead>
            <tr>
                <th>#</th>
                <th>Partner</th>
                <th>Status</th>
                <th>Requested</th>
                <th>Approved</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="req, iterStat : ${requests}"
                th:attr="onclick=|window.location.href='/requests/' + ${req.id}|"
                style="cursor:pointer">

                <td th:text="${iterStat.count}">1</td>
                <td th:text="${req.partner.name}">Partner</td>
                <td th:text="${req.status}">Status</td>
                <td th:text="${req.amountRequested}">0</td>
                <td th:text="${req.amountApproved}">0</td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
