/* Color scheme */
:root {
    --primary-background: #a8d5a1;
    /* Main background color */
    --text: #FFFFFF;
    /* Light text color */
    --darker-background: #2e7d32;
    /* header - footer background*/
    --mid-background:#68b159;
    /* #ad82c2; */
    /* nav bar background*/
    --shadow: #587752;
    /* header - footer background*/
    --text-shadow: #0c4700;
    --text-light: #d5ffd5;
    /* header - footer background*/
    --img-border: white;
    --shadow-hover: rgba(0, 0, 0, 0.2);

    --text-dark: #333333;
    /* rgba(0, 10, 0, 1) */


}

/*cookie notice*/
.cookie-notice {
    width: auto;
    height: auto;
    position: fixed;
    left: 10px;
    bottom: 10px;
    background-color: var(--mid-background);
    border-radius: 10px;
    display: none;

}

.cookie-notice h2 {
    padding: 16px;
}

.cookie-notice p {
    padding: 16px;
}

.cookie-notice button {
    margin: 10px;
}

/*timeline*/
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #ddd;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container.left {
    left: 0;
}

.container.right {
    left: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.container.right::after {
    left: -16px;
}

.container .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.container .content h2 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

.container .content p {
    margin: 10px 0 0;
    color: #777;
}

.container.left .content {
    margin-left: 60px;
}

.container.right .content {
    margin-right: 60px;
}



button {
    border: 2px;

    height: 40px;

}

#hamb {
    display: none;
}

#top-bar {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#whole-logo {
    display: none;
}

#top-bar + .row {
    padding-top: 161px;
}

/* Resetting default browser styles */
html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* Adding a fallback font */
}



/* Styling the header */
.header {
    background-color: var(--primary-background);
    color: var(--text-light);
    padding: 20px;
    text-align: center;
}

/* TODO - use color variables*/
/* TODO - use color variables*/

* {
    box-sizing: border-box;
}

/* Initial body */
body {
    margin: 0px;
    background-color: var(--primary-background);
    font-family: "calibri", "verdana", "arial";
    font-size: 18px;
}

/* Style headline with logo */

.head-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;

    margin: 0 auto;
}

.left-column {
    display: grid;
    justify-content: end;
}

.right-column {
    display: grid;
    justify-content: start;
    padding-left: 15px;
}

#headfirstline {
    padding-top: 12px;
    padding-bottom: 0;
    font-size: 30px;
    height: 12px;

}

#headscndline {
    padding-top: 12px;
    font-size: 36px;

}

#logo-phone {
    display: none;
    padding-top: 3px;
    font-size: 30px
}

.logo {
    padding: 3px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--img-border);
    box-shadow: 0 4px 8px 0 var(--shadow), 0 6px 20px 0 var(--shadow);

}

.headline {
    margin: 0px;

    text-shadow: -2px 0px 11px var(--text-shadow);
}

h1 {
    text-shadow: -2px 0px 11px var(--text-shadow);
}

/* Style the top navigation bar */
.navbar {
    background-color: var(--mid-background);
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    overflow: auto;
    height: inherit;
    display: flex;
    z-index: 1;
}

/* Style the navigation bar links */
.navbar a {
    padding: 8px 24px;
    text-decoration: none;
    text-align: center;
}

li a {
    display: block;
    color: var(--darker-background);
    font-weight: bold;
}

li a.active {
    background-color: var(--shadow);
    color: var(--img-border);
}

li a:hover:not(.active) {
    background-color: var(--primary-background);
    color: var(--img-border);
}

/* slider */
#slideshow {
    margin: auto;
    position: relative;

    height: 240px;
}

#slideshow div img {
    height: auto;
    width: auto;
    max-width: 100%;
    object-fit: contain;
}

#slideshow>div {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}

section {
    flex: 70%;
    padding: 20px;
}

aside {
    flex: 30%;
    padding: 20px;
}

.hamb {
    display: none;
}

p {
    /* margin: 1.5em;*/
}

.hover-shadow {
    margin-bottom: 0em;
    padding: 8px;
    margin: 0px;
    border-radius: 8px;
    background-color: var(--img-border);
    box-shadow: 0 4px 8px 0var(--shadow), 0 6px 20px 0 var(--shadow);
    width: 96%;
}

.par-img {
    display: flex;

    margin-top: 1em;
    margin-bottom: 1em;
}

.par-img p {
    margin: 1.5em;
}

.par-img img {
    margin-top: 30px;
    width: 320px;
    height: 190px;
    max-width: 33%;
    object-fit: cover;
}


.header,
footer,
button {
    color: var(--img-border);
    background-color: var(--darker-background);
    text-align: center;
    padding: 10px;
    margin: 0px;
    border-collapse: collapse;
}

table,
th,
tr,
td {
    border: 2px solid var(--text-dark);
    border-collapse: collapse;
}

table td {
    text-align: center;
    padding: 0.5em;
}

iframe {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 2% 5%;
}

/* Create four equal columns that floats next to eachother */
.img-column,
.thmb-column {
    float: left;
    width: 25%;
}

/* The Modal (background) */

.gal-control {
    background-color: black;
    margin: 0px;
    width: 100%;
    height: 45px;
    position: absolute;
    top: 0px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 65px;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
}

/* The Close Button */
.close {
    color: white;
    margin-left: 95%;
    font-size: 45px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    background-color: black;
    height: 77vh;
    justify-content: center;
}

.mySlides>img {
    height: auto;
    width: auto;
    max-height: 100%;
    object-fit: contain;
}

/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 32px 12px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 50px 50px 0;
    text-shadow: 4px 0px 6px #000000;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 50px 0 0 50px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
#numbertext {
    color: #f2f2f2;
    font-size: 14px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img.demo {
    width: 100%;
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 var(--shadow-hover), 0 6px 20px 0 var(--shadow-hover);
}

.thumb-strip {
    height: 16vh;
    bottom: 0;
    width: 100%;
}

.core-img {

    width: 70%;
    margin: 15px 15%;
}

.steps {
    margin: 15px 35%;
}

.gal-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.gal-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.gal-column img {
    vertical-align: middle;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    background-color: var(--img-border);
    box-shadow: 0 4px 8px 0 var(--shadow), 0 6px 20px 0 var(--shadow);
    width: 100%;
}

@media print {

    /* Print style */
    .header,
    footer,
    .navbar {
        display: none;
    }

    * {
        color: #000;
        background-color: #fff;
        font-family: verdana, "Times New Roman";
        @include box-shadow(none);
        @include text-shadow(none);
    }

    a:after {
        content: "( " attr(href)" )";
    }

    .row {
        flex-direction: column;
    }

    .main {
        width: 90%;
        margin: 0px;
        padding: 0px;
    }

    aside {
        font-style: italic;
    }

    .img-row {
        display: none;
    }
}

@media all and (min-width: 1601px) {
    .navbar {
        padding-left: 11%;
    }

    section {
        flex: 60%;
        margin-left: 10%;
    }

    aside {
        flex: 20%;
        margin-right: 10%;
    }
}

@media all and (min-width: 751px) {
    #hide {
        display: block !important;
        /*ensuring the navbar visibility after resizing */
    }

    .navbar li a {
        border-radius: 10px 10px 0px 0px;
        margin-top: 3px;
    }

    .img-row:after {
        content: "";
        display: table;
        clear: both;
    }
}

@media all and (max-width: 750px) {

    /* For tablets: screens width smaller than 750px */
    .img-column {
        width: 50%;
        padding-bottom: 2%;
    }

    .row,
    .navbar {
        flex-direction: column;
        /* Responsive layout => two columns stack on top of each other*/
    }

    #hide {
        display: none;
    }
    #hamb {
        display: block !important;
    }

    .navbar {
        position: absolute;
    }

    .navbar a {
        padding-left: 0px;
    }

    button {
        display: inline-block;
        float: left;
        outline: none;
    }

    button div {

        margin-top: 5px;
        width: 32px;
        height: 4px;
        background-color: var(--primary-background);
        border-radius: 4px;
        box-shadow: 0 2px 3px 0 var(--shadow), 0 6px 20px 0 var(--shadow);
    }

    h1 {
        padding: 6px;
        margin: 0px;
        font-size: 28px;
    }

    .par-img {
        display: block;
        float: left;

    }

    .par-img img {
        margin-top: 30px;
        width: 640px;
        height: 190px;
        max-width: 90%;
        margin-left: 5%
    }

    .close {
        margin-left: 90%;
    }

    #hamb {
        padding-top: 30px;
    }

}

@media all and (max-width: 480px) {

    /* For mobile phones: */
    h1 {
        padding: 5px;
        font-size: 18px;
    }

    h2 {

        font-size: 22px;
    }


    .navbar a {
        font-size: 3.5vh;
        padding-top: 3vh;
        padding-bottom: 3vh;
        border-bottom: 1px solid var(--darker-background);
    }

    .img-column {
        width: 100%;
    }

    .left-column {
        width: 111%;
    }

    .right-column {
        justify-content: center;
    }

    .container.left .content {
        margin-left: 5px;
    }

    .container.right .content {
        margin-right: 5px;
    }

    .container {
        padding: 2px;
        font-size: 14px;
    }

    .container .content{
        padding: 8px;

    }
    .container h3{
        padding-left: 18px;

    }

    section{
        padding: 12px;
    }



}

@media all and (max-width: 380px) {

    /* For mobile phones smaller displays: */
    #whole-logo {
        display: inline-flex;
        width: 84%;
    }

    #hamb {
        padding-top: 7%;
        padding-left: 1%;
        padding-right: 1%;
        width: 14%;
    }



    .logo {
        display: none;
    }

    #headfirstline {
        display: none;
    }

    #headscndline {
        display: none;
    }


    #headfirstline {
        padding-top: 0;
    }

    #logo-phone {
        padding-top: 0;
        display: none;
    }

    #headfirstline {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 18px;
    }

    #logo-phone {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 18px;
    }

}

@media all and (max-width: 344px) {

    /* For mobile phones supersmall displays: */

    #headfirstline {
        margin-top: 10px;
        font-size: 14px;
    }

    #logo-phone {
        margin-top: 10px;
        font-size: 14px;
    }

}


