<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${program.name}">Program Detail</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="page">
    <main>





        <div class="btn-wrap">
            <a th:href="@{/programs/{id}/tasks/create(id=${program.id})}" class="btn">Add Task</a>
            <a th:href="@{/requests/create(programId=${program.id})}" class="btn btn-primary">
                Request Participation
            </a>

            <a th:href="@{'/communities/' + ${program.creator.id} + '/programs'}" class="btn">Back to Programs</a>

        </div>
    </main>
</div>
<script>
    function toggleSubtasks(btn) {
        const li = btn.closest("li");
        const container = li.querySelector(".subtasks");

        if (!container) return;

        if (container.classList.contains("hidden")) {
            container.classList.remove("hidden");
            btn.textContent = "▼";
        } else {
            container.classList.add("hidden");
            btn.textContent = "▶";
        }
    }
</script>


</body>
</html>
