<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name='description' content=''>
    <meta name='keywords' content='spolek'>
    <meta name='author' content='Ludek Krula'>
    <meta name='robots' content='all'>
    <meta charset="UTF-8">
    <!-- <meta http-equiv='X-UA-Compatible' content='IE=edge'> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>KPPRO-Ai2k-LK</title>
</head>
<body>
<div class="page">
    <header>
        <h1><h1 th:text="${'Details for item no: ' + id}"></h1></h1>
        <p class="subtitle">Detailed info:</p>
    </header>
    <main>

        <div class="card">

            <h1 th:text="${item.title}">Item Title</h1>
            <p th:text="${item.description}">Item Description</p>
            <p>Status: <span th:text="${item.done} ? 'Done &#9989;' : 'Not done &#10060;'"></span></p>
        </div>
        <div class="btn-wrap">
            <a th:href="@{/items/edit/{id}(id=${item.id})}" class="btn">Edit</a>
            <a th:href="@{/items/}" class="btn">Go to item list</a>
        </div>
    </main>
</div>
</body>
</html>