<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login-style.css}"/>
</head>
<body>
<main class="card" role="main" aria-labelledby="signin-title">

    <div class="brand">
        <div class="logo" aria-hidden>
            D
        </div>
        <div>
            <h1 id="signin-title">Landni'ś</h1>
            <p class="lead">muzete zde cokoliv</p>
        </div>
    </div>

            <h1 th:text="${'Hello ' + name}"></h1>
            <div class="card" th:each="item : ${list}">
                <h3 th:text="${item.title}"></h3>
                <p th:text="${item.description}"></p>
            </div>
            <a th:href="@{/login}" class="btn">Go to item list</a>





    </main>
</body>
</html>