<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logged user</title>
    <link rel="stylesheet" th:href="@{/css/login-style.css}"/>
</head>
<body>
<main class="wide-card" role="main" aria-labelledby="signin-title">

    <div class="brand">
        <div class="logo" aria-hidden>
            D
        </div>
        <div>
            <h1 id="signin-title">List of Items</h1>
            <p class="lead">Continue to the list</p>
        </div>
    </div>
    <div class="btn-wrap">
        <a th:href="@{/items/}" class="btn">Go to item list</a>
        <a th:href="@{/communities/}" class="btn">Communities</a>
        <a th:href="@{/tasks/add-task}" class="btn">add-task</a>
        <a th:href="@{/programs/{id}/tasks(id=${programId})}" class="btn">list – tasks</a>

        <a th:href="@{/communities/my}" class="btn">Communities</a>
    </div>
</main>
</body>

</html>
