<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name='description' content=''>
    <meta name='keywords' content='spolek'>
    <meta name='author' content='Ludek Krula'>
    <meta name='robots' content='all'>
    <meta charset="UTF-8">
    <!-- <meta http-equiv='X-UA-Compatible' content='IE=edge'> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>KPPRO-Ai2k-LK</title>
</head>
<body>
<section>

    <article>
        <h1 th:text="${'Hello ' + name}"></h1>
<div class="card">
    <ul>

        <li th:each="i : ${items}">
            <strong th:text="${i.title}"></strong> -
            <span th:text="${i.description}"></span>
            (<span th:text="${i.done}"></span>)
        </li>
            <!-- <a th:text="${i.title}" th:href="@{'/detail/' + ${i.index}}"></a> -->
        </li>
    </ul>

</div>
<h1>Hello /*/</h1>
<p>What's going on??</p>
    </article>
</section>
</body>
</html>