<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${program.name}">Program Detail</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="page">
    <main>

        <h1 th:text="${program.name}">Program Name</h1>
        <h1 th:text="${#numbers.formatDecimal(completion, 0, 1)} + '% progress ' + ${finished} + ' from ' + ${est} + ' hours'">
            Completion
        </h1>
        <h2 th:text="'You have finished ' +${finishedMemberHours} + 'hours from ' + ${estMemberHours} + ' hours of your workload in this project.'"></h2>

        <p class="subtitle" th:text="${program.description}">Program description</p>

        <div class="list warn-table-wrap">
            <div class="warn-card">
                <p><strong>Program ID:</strong> <span th:text="${program.id}"></span></p>

                <p th:if="${program.manager != null}">
                    <strong>Manager:</strong>
                    <span th:text="${program.manager.name}"></span>
                </p>

                <p th:if="${program.creator != null}">
                    <strong>Community:</strong>
                    <span th:text="${program.creator.name}"></span>
                </p>


                <p th:if="${program.amountMax != null}">
                    <strong>Max amount:</strong>
                    <span th:text="${program.amountMax}"></span>
                </p>

                <h2>Assigned Members</h2>
                <ul>
                    <li th:each="m : ${program.assignedMembers}">
                        <span th:text="${m.name}"></span>
                    </li>
                </ul>

                <h2>Shared With Communities</h2>
                <ul>
                    <li th:each="c : ${program.sharedWith}">
                        <span th:text="${c.name}"></span>
                    </li>
                </ul>

                <h2>Partner</h2>
                <p th:if="${program.partner != null}">
                    <strong>Partner:</strong>
                    <span th:text="${program.partner.name}"></span>
                </p>

            </div>
        </div>


        <div class="heading-wrap">
            <h2>Tasks</h2>
            <a th:href="@{/programs/{id}/tasks/create(id=${program.id})}" class="btn">Add Task</a>
        </div>
        <div class="list warn-table-wrap">
            <div th:replace="fragments/task-tree :: tree(tasks=${tasks}, program=${program})"></div>

        </div>
        <div class="heading-wrap">
            <h3>Participation Requests</h3>
            <a th:href="@{/requests/create(programId=${program.id})}" class="btn btn-primary">
                Request Participation
            </a>
        </div>


        <div th:fragment="requestsTable(requests)">
            <div class="table-wrap">
                <table class="nice-table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Partner</th>
                        <th>Status</th>
                        <th>Requested</th>
                        <th>Approved</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="req, iterStat : ${requests}"
                        th:attr="onclick=|window.location.href='/requests/' + ${req.id}|"
                        style="cursor:pointer">

                        <td th:text="${iterStat.count}">1</td>
                        <td th:text="${req.partner.name}">Partner</td>
                        <td th:text="${req.status}">Status</td>
                        <td th:text="${req.amountRequested}">0</td>
                        <td th:text="${req.amountApproved}">0</td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>





        <div class="btn-wrap">
            <a th:href="@{/programs/{id}/tasks/create(id=${program.id})}" class="btn">Add Task</a>
            <a th:href="@{/requests/create(programId=${program.id})}" class="btn btn-primary">
                Request Participation
            </a>

            <a th:href="@{'/communities/' + ${program.creator.id} + '/programs'}" class="btn">Back to Programs</a>

        </div>
    </main>
</div>
<script>
    function toggleSubtasks(btn) {
        const li = btn.closest("li");
        const container = li.querySelector(".subtasks");

        if (!container) return;

        if (container.classList.contains("hidden")) {
            container.classList.remove("hidden");
            btn.textContent = "▼";
        } else {
            container.classList.add("hidden");
            btn.textContent = "▶";
        }
    }
</script>


</body>
</html>
