<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Programs</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="page">
    <main>

        <h1 th:text="'Programs for ' + ${community.name}"></h1>

        <!-- HTMX loads the list -->
        <div
                hx-get="@{'/communities/' + ${community.id} + '/programs/fragment'}"
                hx-trigger="load"
                hx-target="#programList"
                hx-swap="innerHTML">
        </div>

        <ul id="programList"></ul>

        <a th:href="@{'/communities/' + ${community.id} + '/programs/new'}" class="btn">
            Create Program
        </a>

    </main>
</div>

</body>
</html>
